/* Start section description. */
@media screen and (min-width: 450px){
    .toctile {
        display: flex; display: -webkit-flex;
        flex-flow: row wrap; -webkit-flex-flow: row wrap;
        justify-content: space-between; -webkit-justify-content: space-between;
        align-items: flex-start; -webkit-align-items: flex-start;
        align-content: flex-start; -webkit-align-content: flex-start;
        list-style-type: none;
        margin-bottom: 10px;
    }
    /* Dan Andreasson on Stack Overflow. */
    .toctile:after {
        content: "";
        flex: 1 0 33.3%; -webkit-flex: 1 0 33.3%;
        margin-left: 45px;
        align-self: stretch; -webkit-align-self: stretch;
    }
}
@media screen and (max-width: 450px) {
    .toctile {
        display: flex; display: -webkit-flex;
        flex-flow: column wrap; -webkit-flex-flow: column wrap;
        justify-content: space-between; -webkit-justify-content: space-between;
        align-items: flex-start; -webkit-align-items: flex-start;
        align-content: flex-start; -webkit-align-content: flex-start;
        list-style-type: none;
        margin-bottom: 10px;
    }
    .toctile:after {
        content: "";
        flex: none; -webkit-flex: none;
    }
}
.tile {
    flex: 2 0 33.3%; -webkit-flex: 2 0 33.3%;
    margin: 10px 15px;
    border-radius: .3em;
    user-select: none;
}
.tile div.figure,
.tile figure {
    margin-bottom: 0px;
    display: block;
}
.tile img {
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}
.tile dl {margin-bottom: 10px}
.tile dl dt > a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.tile dl dt, .tile.no-descr p{
    font-weight: bold;
    font-style: normal;
    font-size: 1.3em;
}
.tile dl dt, .tile.no-descr p{padding: 18px 15px 0px!important}
.tile dl dd{
    padding: 0px 15px;
    font-style: normal;
    margin: 0px;
    color: #808080;
    font-size: 90%;
}
.tile {
    box-shadow: rgba(0,0,0,0.05) 0px 1px 4px 0px,
                    rgba(211,216,223,0.33) 0px 15px 20px -1px;
}

/*#getting-started .tile {
    box-shadow: none;
}*/
/* End section description. */

.clear-both {
    clear: both;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
